body {
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100px;
    background-color: red;
    color: yellow;
    font-size: 50px;
    text-align: justify;
    margin-top: 0px;
}
.ima {
    width: 200px;
    height: 150px;
    float: right;
}
img {
    width: 100%;
}
.produtos {
    background-color: white;
    height: 300px;
    padding: 10px;
    border: 3px;
    border-color: red;
    border-style: solid;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
}
button {
    background-color: green;
    color: wheat;
    font-size: 50px;
    text-align: center;
}